package="PanelShelf"
version="__VERSION__"
os_min_ver="7.2-64570"
arch="__ARCH__"
displayname="PanelShelf"
description="A private comic library and browser reader for CBZ and CBR files."
maintainer="PanelShelf Project"
thirdparty="yes"
adminprotocol="http"
adminport="8251"
adminurl=""
checkport="yes"
dsmuidir="ui"
dsmappname="com.panelshelf.App"
ctl_stop="yes"
ctl_uninstall="yes"
silent_upgrade="yes"
